<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Add a Movie</h1>
                    <form #f="ngForm" novalidate autocomplete="off" (ngSubmit)="addMovie(f.value)">

                        <div class="form-group">
                            <input type="text" [(ngModel)]="movieModel.movieName" name="movieName" class="form-control" 
                                   placeholder="Enter the Movie Name" required #refMovieName='ngModel' 
                                   maxlength="100" minlength="2">

                             <div *ngIf="refMovieName.errors && (refMovieName.dirty || refMovieName.touched)" class="alert alert-danger">
                                <div [hidden]="!refMovieName.errors.required">
                                    Name is required.
                                </div>
                                <div [hidden]="!refMovieName.errors.minlength">
                                    Please enter atleast 2 characeters.
                                </div>
                             </div>       
                        </div>    

                        <div class="form-group">
                            <select class="txt-box" name="movieRating" [(ngModel)]="movieModel.movieRating" class="form-control" 
                                required #refMovieRating='ngModel'>
                                <option [value]="movieModel.movieRating" [disabled]="true">Select Rating</option>
                                <option *ngFor="let rating of ratingTypeArray" [ngValue]="rating.id">
                                    {{rating.type}}
                                </option>
                            </select>

                            <div *ngIf="refMovieRating.errors && (refMovieRating.dirty || refMovieRating.touched)" class="alert alert-danger">
                                <div [hidden]="!refMovieRating.errors.required">
                                    Rating is required.
                                </div>
                            </div>    
                        </div>

                        <div class="form-group">
                            <input type="date" [(ngModel)]="movieModel.movieReleaseDate" name="movieReleaseDate" id="movieReleaseDate" 
                                   class="form-control" placeholder="Movie Release date (MM/DD/YYYY)" 
                                   required 
                                   #refMovieReleaseDate='ngModel'>

                            <div *ngIf="refMovieReleaseDate.errors && (refMovieReleaseDate.dirty || refMovieReleaseDate.touched)" class="alert alert-danger">
                                <div [hidden]="!refMovieReleaseDate.errors.required">
                                    Date is required.
                                </div>
                                <div [hidden]="!refMovieReleaseDate.errors.pattern">
                                    Please enter MM/DD/YYYY.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" [(ngModel)]="movieModel.movieDescription" name="movieDescription" id="movieDescription" 
                                   class="form-control" placeholder="Movie Description" #refMovieDescription>
                        </div>

                        <div class="form-group">
                            <input type="text" [(ngModel)]="movieModel.movieImageURL" name="movieImageURL" id="movieImageURL" 
                                   class="form-control" placeholder="Movie Image URL" #refmovieImageURL>
                        </div>

                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Add" [disabled]="f.invalid">
                        <input type="button" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Reset" (click)="resetForm(f)">
                    </form>
                    <hr>
                </div>
                <!-- /.form-wrap -->
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
