<!-- Movie list HTML -->
<div class="container-fluid">
    <div class="row">
        <div>
            <h1>List of Movies</h1>
            <div class="table-resposive">
                <table class="table table-filter table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-2">Movie Name</th>
                            <th class="col-xs-2">Rating</th>
                            <th class="col-xs-2">Release Date</th>
                            <th class="col-xs-5">Description</th>
                        </tr>
                    </thead>
                    <tbody>
<!-- Usage of *ngFor and User defined Directive linked with passing value -->
                        <tr *ngFor="let movieDetail of movieList;let i = index" appRowHeighlighter ratingValue={{movieDetail?.movieRating}}>
                            <td>
                                {{i + 1}}
                            </td>
                            <td>
<!-- if URL is present then you can click movie name to open URL of movie -->
                                <div *ngIf="!movieDetail?.movieURL">{{movieDetail?.movieName}}</div>
                                <div *ngIf="movieDetail?.movieURL">   
                                    <div *ngIf="movieDetail?.movieURL.length>0"><a href={{movieDetail?.movieURL}} target="_blank">{{movieDetail?.movieName}}</a></div>
                                    <div *ngIf="movieDetail?.movieURL.length==0">{{movieDetail?.movieName}}</div>
                                </div>  
                            </td>
                            <td>
<!--Usage of *ngIf and show stars as per rating selected -->
                                <div *ngIf="movieDetail?.movieRating==1">
                                    <span class="glyphicon glyphicon-star" ></span>
                                </div>
                                <div *ngIf="movieDetail?.movieRating==2">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                                <div *ngIf="movieDetail?.movieRating==3">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                                <div *ngIf="movieDetail?.movieRating==4">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                                <div *ngIf="movieDetail?.movieRating==5">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </div>
                            </td>
                            <td>
                                {{movieDetail?.movieReleaseDate}}
                            </td>
                            <td>
<!-- Movie description is not present then show N/A -->
                                <div *ngIf="!movieDetail?.movieDescription">N/A</div>
                                <div *ngIf="movieDetail?.movieDescription"> 
                                    <div *ngIf="movieDetail?.movieDescription.length>0">{{movieDetail?.movieDescription}}</div>
                                    <div *ngIf="movieDetail?.movieDescription.length==0">N/A</div> 
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>